.card {
    /* margin: 0;
    position: absolute;    
    left: 30%; */
    float: right;
    margin-right: 60px;
    text-align: center;
}

.movie-label {
    margin-top: -70px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: white;
    opacity: 0.6;
    text-transform: uppercase;
    font-weight: bold;
    z-index: 10;
    padding: 10px;
    background-color: black;
}

.image {
    opacity: 0.8;
    z-index: 0;
}