.most-popular {
    font-size: 28px;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
    font-weight: 600;
    margin-right: 60px;
}

.welcome-user {
    float: left;
    width: 50%;
    font-size: 40px;
    margin: 10px;
    padding: 10px;
    padding-top: 80px;
    text-align: center;
}

.welcome-user-settings {
    width: 100%;
    font-size: 40px;
    /* margin: 10px; */
    /* padding: 10px; */
    padding-top: 40px;
    text-align: center;
}

#update-password-successful {
    display: none;
    font-size: 14px;
    color: lightgreen;
}

#update-password {
    display: none;
    font-size: 14px;
    color: tomato;
}

#update-genre-successful {
    display: none;
    font-size: 14px;
    color: lightgreen;
    margin: 10px;
}

#update-genre {
    display: none;
    font-size: 14px;
    color: tomato;
    margin: 10px;
}

#default {
    display: block;
}

#search-results {
    display: none;
    margin: 10px;    
}

.no-matches {
    font-size: 18px;
    width: 100%;
    text-align: center;
    color: #acacac;
}

.checkboxes {
    text-align: center;
    /* width: 300px; */
    /* margin-left: 600px; */
    /* margin-right: 600px; */
    font-family: sans-serif;
}

table {
    text-align: center;
    /* border: 1px solid black; */
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.genre-movies {
    position: absolute;
    top: 520px;
    /* left: 100px; */
    /* right: auto; */
    width: 100%;
    text-align: center;    
}

.top-picks {
    text-align: left;
    margin: 15px;
    font-size: 32px;
    color: #acacac;
    margin-bottom: 20px;
}